.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.side {
  width: 50%;
  float: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ytSearchResult {
  content: "";
  clear: both;
  text-align: left;
  padding: 10px 0;
}

.ytThumbnail {
  float: left;
  width: 150px;
}

.ytContent {
  float: left;
}

.ytDesc {
  padding: 7px 0;
  width: 640px;
}

.ytTitle {
  padding: 5px 0;
  font-weight: bold;
}

.hide {
  display: none;
}

button {
  margin: 0 5px;
}

.top {
  padding: 10px 0;
}

input {
  padding-top: 5px !important;
}

.videoEntry {
  text-align: left;
  padding: 7px;
  margin: 0 10px;
}

.videoImage {
  float: left;
  max-height: 300px;
  max-width: 640px;
  clear: both;
}

.videoEntry::before {
  content: "\25BA"
}

.videosList {
  max-height: 400px;
  overflow-x: auto;
}

.video {
  clear: both;
}

.playing {
  background-color: #0078e7;
  color: white;
}

form {
  padding: 10px 0;
}

.fullWidth {
  width: 100%;
}

.fullWidth .videosList {
  width: 720px;
  margin: 0 auto;
}

.player {
  width: 640px;
}

@media only screen and (max-width: 720px)  {
  .player {
    width: 100%;
  }
  .fullWidth .videosList {
    width: 100%;
  }
  .addYtUrl {
    width: 100%;
    margin: 10px 0;
  }
}
